/ {
    servo: servo {
        compatible = "pwm-servo";
        pwms = <&pwm2 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>; // TIM2_CH1 = channel 1
        min-pulse = <PWM_USEC(700)>;
        max-pulse = <PWM_USEC(2300)>;
    };
};