&pinctrl {
    i2s0_default: i2s0_default {
        group1 {
            psels = <
                NRF_PSEL(I2S_SCK_M, 1, 15)     // BCLK
                NRF_PSEL(I2S_LRCK_M, 1, 12)    // LRCK
                NRF_PSEL(I2S_SDOUT, 1, 13)     // SDOUT
            >;
        };
    };
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s0_default>;
    pinctrl-names = "default";
};
